.figure {
  margin: 5px !important;
}

.Description {
  margin: 0 auto;
  text-align: left;
  width: 90%;
  margin-bottom: 5px;
}

.ImageGridHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.SearchType {
  margin-right: 30px;
}

.SearchVal {
  padding-top: 10px;
  width: 70%;
}

.ButtonAccess {
  margin-left: 10px;
  padding-top: 20px;
}
.HomePage {
  text-align: center;
}